<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".debug.DebugSyncProbeReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="com.roktober.samsunghealthbridge.debug.ENQUEUE_BACKGROUND_SYNC_PROBE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
